body {
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  background: #fefefe;
  color: #333;
  margin: 0 1em;
}

.limitter {
  width: 1366px;
  margin: 0 auto;
}
.container-table {
  width: 100%;
  /* min-height: 100vh; */
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table {
  width: 1170px;
}
.table-verb {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
}
.table-head {
  position: absolute;
  width: 100%;
}
.tableverb .table-body .table tbody:nth-child(even) {
  background-color: #f8f6ff;
}

.row-head {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.column {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  background-color: #6c7ae0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.table-body {
  max-height: 585px;
  overflow-y: auto;
}
.table-td {
  vertical-align: middle;
  font-family: Lato-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.4;
}
.expandable-icon {
  width: 5%;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
caption {
  text-align: left;
  font-style: italic;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

th,
td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: left;
  /* text-indent: -0.5em; */
}

th {
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: bold;
}

.row td:nth-of-type(2),
.cell td:nth-of-type(3) {
  font-style: italic;
}

.row th:nth-of-type(3),
.row td:nth-of-type(3),
.cell th:nth-of-type(4),
.cell td:nth-of-type(4) {
  text-align: right;
}

td[colspan] {
  background-color: #eee;
  color: #000;
  font-weight: normal;
  font-style: italic;
  padding: 0;
  text-indent: 0;
}

tr.shown,
tr.hidden {
  background-color: #eee;
  display: table-row;
}

tr.hidden {
  display: none;
}

/* plus minus tollge button */

.button {
  width: 30px;
  height: 30px;
  background: #70975b;
  /* top: 105%; */
  /* left: 92%; */
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
  /* padding-left: 40%; */
  margin-left: 30px;
  margin-top: 30px;
}

.button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background: white;
}

.button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 2px;
  background: white;
}

.button.clicked {
  transform: translate(-50%, -50%) rotate(360deg);
  background: #cc2a41;
}

.button.clicked:before {
  width: 0;
}
/* Proven method to visually hide something but */
/* still make it available to assistive technology */
.visually-hidden {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.search-box {
  margin: auto;
  outline: none;
  width: 160%;
  height: 50px;
  padding-left: 7%;
  border-radius: 5px solid #8f8f8f;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  margin: auto;
}

.cell {
  margin: auto;
  width: 100%;
}

.history-cell {
  margin: auto;
}

.sub-row {
  display: flex;
  background-color: #eee;
  justify-content: center;
  width: 400%;
}
.search-log {
  height: 50px;
  width: 180%;
  cursor: pointer;
  text-decoration: none;

  background-color: #b80c4d;
  border: #2e6da4;
  font-family: Arial, Geneva, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: normal;

  border-radius: 4px;
  line-height: 1.5;
  text-decoration: none;
}
