.back-button {
  height: 50px;
  width: 10%;
  cursor: pointer;
  text-decoration: none;
  background-color: #b80c4d;
  border: #2e6da4;
  font-family: Arial, Geneva, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  /* padding: 8px 12px; */
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  /* line-height: 1.5; */
  text-decoration: none;
  padding-left: 35px;
}